<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.discount.mapper.CouponRuleMapper">
    <resultMap id="couponRulePo" type="couponRulePo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="brief" property="brief"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="pic_url" property="picUrl"/>
        <result column="valid_period" property="validPeriod"/>
        <result column="strategy" property="strategy"/>
        <result column="total" property="total"/>
        <result column="collected_num" property="collectedNum"/>
        <result column="goods_list1" property="goodsList1"/>
        <result column="goods_list2" property="goodsList2"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDelete"/>
    </resultMap>
    <resultMap id="couponRuleVo" type="com.xmu.discount.discountDo.CouponRuleDo">
        <id column="id" property="id"/>
        <result column="goods_list1" property="goodsList1"/>
        <result column="goods_list2" property="goodsList2"/>
    </resultMap>


    <select id="findCouponRulePoById" parameterType="Integer" resultMap="couponRulePo">
        select id,name,brief,begin_time,end_time,pic_url,valid_period,strategy,total,collected_num,goods_list1,goods_list2,gmt_create,gmt_modified,is_deleted from oomall_coupon_rule where id=#{id} and is_deleted=0
    </select>

    <insert id="addCouponRulePo" parameterType="couponRulePo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_coupon_rule(name,brief,begin_time,end_time,pic_url,valid_period,strategy,total,collected_num,goods_list1,goods_list2,gmt_create,gmt_modified,is_deleted)
        values (#{name},#{brief},#{beginTime},#{endTime},#{picUrl},#{validPeriod},#{strategy}, #{total},#{collectedNum}, #{goodsList1}, #{goodsList2},#{gmtCreate},#{gmtModified})
    </insert>

    <!-- 记得先判断 is_deleted=0 -->
    <update id="deleteCouponRulePoById" parameterType="Integer">
        update oomall_coupon_rule is_delete=1 WHERE id=#{id}
    </update>


    <!-- 记得先判断 is_deleted=0 -->
    <update id="updateCouponRulePo" parameterType="couponRulePo">
        update oomall_coupon_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="beginTime!=null">begin_time=#{beginTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="picUrl!=null">pic_url=#{picUrl},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="validPeriod!=null">valid_period=#{validPeriod},</if>
            <if test="goodsList1!=null">goods_list1=#{goodsList1},</if>
            <if test="goodsList2!=null">goods_list2=#{goodsList2},</if>
            <if test="strategy!=null">strategy=#{strategy},</if>
            <if test="total!=null">total=#{total}</if>
            <if test="collectedNum!=null">collected_num=#{collectedNum}</if>
        </trim>
        WHERE id=#{id} and is_delete=0
    </update>

    <select id="adminGetAllCouponRulePos" resultType="couponRulePo" >
        select * from oomall_coupon_rule where is_deleted=0
    </select>

    <select id="userGetAllCouponRulePos"  resultType="couponRulePo" >
        select * from oomall_coupon_rule where is_deleted=0
    </select>

    <select id="getAllCouponRuleVos" resultType="couponRuleVo">
        select id,goods_list1,goods_list2 from oomall_coupon_rule where is_deleted=0
    </select>


    <select id="getCouponRulePosByIds" parameterType="String" resultType="couponRulePo">
        select id,name,brief,begin_time,end_time,pic_url,valid_period,strategy,total,collected_num,goods_list1,goods_list2,gmt_create,gmt_modified,is_deleted from oomall_coupon_rule where id in #{couponRuleIdString} and is_deleted=0
    </select>
</mapper>