<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.oomall.mapper.GoodsMapper">
    <select id="findGoodsById" parameterType="Integer" resultType="Goods">
            select id,
                   gmt_create,
                   gmt_modified,
                   name,
                   goods_sn,
                   short_name,
                   description,
                   brief,
                   pic_url,
                   detail,
                   status,
                   share_url,
                   gallery,
                   goods_category_id,
                   brand_id,
                   is_deleted,
                   weight,
                   volume,
                   special_freight_id,
                   is_special
            from goods where id = #{id}
    </select>



</mapper>